

{%block body%}
<h1>liste des formations</h1> <br>

{% for formation in formations %}


<ul>
    {% if sites.id == formation.sites.id %}
    <li>
            <a href="{{path('emh_formation_detail',{'id': formation.id, 'slug': sites.slug})}}">
                    {{ formation.nomFr }}
                </a>
    </li>
    {%endif%}
</ul>

{% endfor %}
{%endblock%}