
            <form action="{{path('cms_principal_article_add') }}" method="post" {{ form_enctype(form)}}>
               {{ form_widget(form) }} 
                <p><input type="submit"/></p>
            </form>
           
  




 
