{% extends '::base.html.twig' %}
        
{% block body%}
            <form action="{{path('cms_principal_article_edit',{'id':article.id}) }}" method="post">
               {{ form_widget(form) }} 
                <p><input type="submit"/></p>
            </form>
   

 {%endblock%}
