


        

            <form action="{{path('cms_principal_rubrique_edit',{'id':rubrique.id}) }}" method="post">
               {{ form_widget(form) }} 
                <p><input type="submit"/></p>
            </form>
   

 
