
{#
    page: boucle du menu
    Nom du bundle : cmsPrincipal
    Controller : Rubrique
    Action : menu
    Pour tester : mettre un render dans la vue détail de la rubrique
  
    Variable disponibles:
        -lien :  detail d'un lien
                         nom, url, image, rubrique_id
            
#}

    <ul>
    {% for rubrique in rubriques %}
            {% if sites.id == rubrique.sites.id %}
            <li>
                <a href="{{path('cms_principal_page', {'slug':sites.slug,'slugFr': rubrique.slugFr})}}">
                            {{rubrique.nomFr}}
                </a>
            </li>

        {%endif%}
    {%endfor %}
</ul>



