    

            <form action="{{path('emh_ecommerce_add_formation') }}" method="post">
               {{ form_widget(form) }} 
                <p><input type="submit"/></p>
            </form>
           
  



 
