
        

            <form action="{{path('emh_ecommerce_edit_formation',{'id':produit.id}) }}" method="post">
               {{ form_widget(form) }} 
                <p><input type="submit"/></p>
            </form>
   

 
