{#
    page liste des produits
    Nom du bundle : EcommerceBundle
    Controller : Produit
    Action : liste
    Pour tester :slug-du-site/produit
    Route : emh_ecommerce_liste_produits - Paramètre : slug 
    Variable disponibles:
        -produit : liste des produits
                    id, nomFr, nomEn, descriptionFr, descriptionEn, image, prix
            
#}


{%block body%}
<h1>liste des Produits en vente</h1> <br>

        {% for produit in produits %}
            {% for achat in achats %}
                {# Si le produit est vendu il ne s'affiche pas #}
                {% if achat.produits.id == produit.id %}
        <ul>

          {# si le porduits est en vente il se trouvera dans la liste sinon, uniquement dans la galerie#}
                {% if produit.onOff == 1 %}
              <li>
                    <a href="{{path('emh_ecommerce_detail_produit',{'id': produit.id, 'slug': sites.slug})}}">
                            {{ produit.nomFr }}
                        </a>
                   </li>
                {% endif %}
         
              
        </ul>
                {% endif %}
            {% endfor %}
        {% endfor %}

        <h1>Galerie photos</h1> <br>
        {% for produit in produits %}
            <li>
                    <img src="{{asset ('images/'~produit.image)}}"
            </li>
            {% endfor %}
{%endblock%}
