{% extends '::base.html.twig' %}

{% block body %}
<h1>User list</h1>

<ul>
        {% for user in membres %}

            {{ user.username}}

                 {% for inscription in inscriptions%}
                    <li>
                                {{ inscription.formationsAteliers.nomFr }}
                        <a href="{{path('emh_membres_desinscription', {'slug':sites.slug ,'id':inscription.formationsAteliers.id})}}">désinscription</a>
                    </li>
                {% endfor %}

        {% endfor %}


</ul>
    {% endblock %}
