{% extends '::base.html.twig' %}

{% block body -%}
<h1>User list</h1>

<ul>
        {% for user in membres %}

            {{ user.username}}

            {% for formation in user.formationsAteliers %}
    <li>
                {{ formation.nomFr }}
        <a href="{{path('emh_membres_desinscription', {'id':formation.id})}}">désinscription</a>
    </li>
            {% endfor %}

        {% endfor %}


</ul>
    {% endblock %}
